 body {
            background-image: url("app/img/header.jpg");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
        }
        
        .col1 {
            height: 300px;
            width: 400px;
            margin-top: 10%;
            color: white;
            text-align: center;
            text-transform: uppercase;
        }
        
        .col2 {
            height: 300px;
            width: 400px;
            margin-top: 10%;
            color: white;
            text-align: center;
            text-transform: uppercase;
        }
        
        img {
            height: 100px;
            width: 90px;
            margin: 15px;
        }